.button button {
    outline: 0;
    border: 1px solid #16d428;
    padding: 15px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #16d428;
}

.about-us .button {
    padding-top: 30px;
}

//.explore .button button, .featured .big-button button {
// background-color: $main-clr;
//}

//.own-boat .button button {
//  background-color: $forth-clr;
//}